services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:next # using next to fix an OIDC callback url bug, use latest if you don't plan on using OIDC
    container_name: arcane
    # user: '1000:984'
    networks:
      - traefik
    expose: # i hate you. this is needed or else it cant fucking access its DB. do not ask me why, i do not fucking know, ask and i will defenestrate you.
      - "3552"
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/containers:/srv/containers:ro
      - /srv/data/arcane:/app/data
    labels:
      traefik.enable: true

      traefik.http.routers.arcane.rule: Host(`${HOST_DOMAIN}`)
      traefik.http.routers.arcane.entrypoints: https
      traefik.http.routers.arcane.tls: true
      traefik.http.routers.arcane.tls.certResolver: letsencrypt

      traefik.http.services.arcane-svc.loadbalancer.server.port: 3552
    restart: unless-stopped

networks:
  traefik:
    external: true
