services:
  traefik:
    image: traefik:v3
    container_name: traefik
    restart: always
    env_file:
      - .env
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 22
        published: 22
        protocol: tcp
        mode: host
      # gRPC
      - target: 4317
        published: 4317
        protocol: tcp
        mode: host
      # gRPC (HTTP)
      - target: 4318
        published: 4318
        protocol: tcp
        mode: host
    networks:
      traefik:
      cloudflared:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock
      - ./traefik.yml:/traefik.yml
      - ./rules.d:/rules.d
      - acme_data:/acme_data/
    healthcheck:
      test: ["CMD", "wget", "http://localhost:8082/ping", "--spider"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true

      traefik.http.routers.traefik-dashboard.entrypoints: https
      traefik.http.routers.traefik-dashboard.rule: Host(`${DASHBOARD_SUBDOMAIN}.${DOMAIN}`)

      traefik.http.routers.traefik-dashboard.tls: true
      traefik.http.routers.traefik-dashboard.tls.certresolver: letsencrypt
      traefik.http.routers.traefik-dashboard.service: api@internal
    extra_hosts:
      host.docker.internal: host-gateway
    depends_on:
      error-pages:
        condition: service_healthy

  # Cloudflare automatic CNAME DNS creation
  cf-companion:
    container_name: cf-companion
    image: tiredofit/traefik-cloudflare-companion:latest
    restart: unless-stopped
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TIMEZONE=${TZ}
      - CF_TOKEN=${CF_DNS_API_TOKEN}
      - TARGET_DOMAIN=ddns.${DOMAIN}
      - DOMAIN1=${DOMAIN}
      - DOMAIN1_ZONE_ID=${CF_DOMAIN_ZONE_ID}
      - DOMAIN1_PROXIED=false

  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL}
    networks:
      - cloudflared

  error-pages:
    container_name: error-pages
    image: ghcr.io/tarampampam/error-pages:3 # using the latest tag is highly discouraged
    restart: unless-stopped
    environment:
      TEMPLATE_NAME: connection # set the error pages template
    labels:
      traefik.enable: true
      # use as "fallback" for any NON-registered services (with priority below normal)
      traefik.http.routers.error-pages-router.rule: HostRegexp(`.+`)
      traefik.http.routers.error-pages-router.priority: 10
      # should say that all of your services work on https
      traefik.http.routers.error-pages-router.entrypoints: https
      traefik.http.routers.error-pages-router.middlewares: error-pages-middleware
      # "errors" middleware settings
      traefik.http.middlewares.error-pages-middleware.errors.status: 400-599
      traefik.http.middlewares.error-pages-middleware.errors.service: error-pages-service
      traefik.http.middlewares.error-pages-middleware.errors.query: /{status}.html
      # define service properties
      traefik.http.services.error-pages-service.loadbalancer.server.port: 8080
    networks:
      traefik:
networks:
  cloudflared:
  traefik:
    name: traefik
    driver: bridge
    ipam:
      config:
        - subnet: 172.50.0.0/16
          ip_range: 172.50.0.0/24
          gateway: 172.50.0.254
    driver_opts:
      com.docker.network.bridge.name: traefik0

volumes:
  acme_data:
